.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-container {
  box-sizing: border-box;
  width: 175px;
  text-align: center;
  background-color: #ffdfa7;
  border: 5px solid #ca9650;
  box-shadow: 6px 6px 7px 0px rgb(0 0 0 / 75%);
}

.fighter-image-container {
  height: 200px;
  width: 175px;
}

.fighter-image {
  display: block;
  margin: -10px auto;
}
